//COLORS
$color-base: #111111;
$color-white: #ffffff;
$color-green: #82bf8c;
$color-balck: #000000;
$color-grey: #999999;
$color-hover: #12919c;
//FONTS
$font-s-base: 18px;
$font-s-aside: 20px;
$font-s-title: 96px;
$font-w-base: 400;
$font-w-light: 300;
$font-w-bold: 550;
//SCREEN SIZE
$standart-desktop: 1620px;
$small-desktop: 1380px;
$tablet: 1045px;
$small-tablet: 768px;
$mobile: 576px;
$mobile-small: 375px;